.nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    background: rgb(27,28,32);
    background: linear-gradient(0deg, rgba(27,28,32,0.9472163865546218) 0%, rgba(0,0,0,1) 100%);
    color: rgb(231, 231, 231);
    z-index: 2;
}

.title-image{
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.nav button{
    background-color: transparent;
    border: none;
}

.nav ul{
    height: 100px;
    width: 400px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav ul li{
    list-style: none;
}

.nav form{
    position: absolute;
    right: 12rem;
    display: flex;
}

.nav form input{
    margin-right: .7rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    outline: none;
    background-color: rgb(0, 0, 0);
}

.nav form input:focus{
    border-bottom-color: rgb(255, 138, 59);
    transition: border-bottom 1s;
}

.getin, .signin{
    position: absolute;
}

.getin{
    right: 8rem;
}

.signin{
    right: 2rem;
}

.marg{
    right: 15rem;
}